@import url("../global/index.css");

.title {
  color: var(--primary-color);
}

.page {
	--min-page-width: 360px;
	--max-page-width: 1200px;

	margin: auto;
	padding: 0 24px;
	min-width: var(--min-page-width);
	max-width: var(--max-page-width);
	display: grid;
  gap: 24px;
}

.header {
	--header-height: 64px;

	max-height: var(--header-height);
	border-bottom: 1px solid var(--border-color);
}

.main {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.main__books {
	display: grid;
	gap: 40px;
}

.main__books-group {
	display: flex;
	flex-direction: column;
}

.main__books-group-header {
	display: block;
	--group-header-height: 24px;
	height: var(--group-header-height);
	position: sticky;
	padding: 0px 0px 48px 0px;
	top: 0px;
	background-color: var(--app-background-color);
}

.main__books-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
  gap: 16px;
}

.main__books-card {
	--card-min-width: 148px;
	--card-max-width: 180px;
	--card-height: 307px;
	min-width: var(--card-min-width);
	max-width: var(--card-max-width);
	height: var(--card-height);
	overflow: hidden;
}

.main__books-card img {
	--card-image-height: 250px;
	height: var(--card-image-height);
	border: 1px solid var(--border-color);
	border-radius: 24px;
	width: 100%;
	object-fit: cover;
}

.main__books-card-image::image {
	background-image: url();
}

.main__filters {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.main__filters-controls {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid var(--border-color);
}

.main__filters-control {
	--control-height: 48px;
	height: var(--control-height);
	width: 100%;
	border-radius: 16px;
	border: none;
  background-color: var(--input-background-color);
  padding: 8px;
}

input[type=search] {
  background-image: url('images/search-icon.svg');
  background-position: 16px 12px;
  background-repeat: no-repeat;
  padding: 8px 8px 8px 48px;
}

input::placeholder {
	color: var(--text-dim-color);
}

.select {
  padding: 8px 48px 8px 16px;
}

select {
	appearance: none;
  background-image: url('images/arrow-down-icon.svg');
  background-repeat: no-repeat;
  background-position: right 16px top 50%;
}

select:required:invalid {
	color: var(--text-dim-color);
}

option[value=""][disabled] {
  display: none;
}

option {
	background-color: var(--input-background-color);
}

.main__filters-checkbox-container {
	display: block;
  position: relative;
  padding-left: 36px;
  cursor: pointer;
	text-wrap: nowrap;
}

.main__filters-checkbox-container input {
	appearance: none;
}

.checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 20px;
  width: 20px;
	border: 2px solid var(--border-color);
	border-radius: 4px;
}

.main__filters-checkbox-container input:checked ~ .checkmark {
  border-color: var(--primary-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.main__filters-checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.main__filters-checkbox-container .checkmark:after {
	left: 3px;
	top: 3px;
  border: 5px solid var(--primary-color);
	border-radius: 2px;
}

.footer {
	--footer-height: 180px;
	height: var(--footer-height);

	padding: 24px 0px;
	display: flex;
	gap: 40px;
	flex-direction: column;
	border-top: 1px solid var(--border-color);
}

.footer__info {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.footer__go-to-top {
	display: flex;
	justify-content: flex-end;
}

@media only screen and (min-width: 689px) {
	.main__filters-controls {
		flex-direction: row;
		gap: 32px;
	}

	.main__filters-control {
		width: 50%;
	}

	.footer {
		--footer-height: 124px;
		height: var(--footer-height);

		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

@media only screen and (min-width: 926px) {
	.main {
		flex-direction: row-reverse;
		align-items: flex-start;
	}

	.main__filters {
		position: sticky;
    top: 0px;
    background-color: var(--app-background-color);
	}

	.main__filters-controls {
		flex-direction: column;
		gap: 24px;
		padding-bottom: 0;
		border-bottom: none;
	}

	.main__filters-control {
		width: 100%;
	}
}
