@import url("../global/index.css");

.title {
  color: var(--primary-color);
}

.page {
	--default-page-width: 1200px;

	margin: auto;
	max-width: var(--default-page-width);
	display: grid;
  gap: 24px;
}

.header {
	--header-height: 64px;

	max-height: var(--header-height);
	border-bottom: 1px solid var(--border-color);
}

.main {
}

.footer {
	--footer-height: 128px;

	height: var(--footer-height);
	max-height: var(--footer-height);
	display: flex;
  justify-content: space-between;
	border-top: 1px solid var(--border-color);
}
