.link {
  --link-color: var(--text-color);
  color: var(--link-color);
  text-decoration: none;
}

.link:hover {
  --link-color: var(--primary-color);
	color: var(--link-color);
}

.link__underline_on {
	border-bottom: 1px solid var(--link-color);
}
