a,
:link,
.link {
  --link-color: var(--text-color);

  color: var(--link-color);
  text-decoration: none;
}

a:hover,
:link:hover,
.link:hover {
  --link-color: var(--primary-color);
}

.link__underline_on {
	border-bottom: 1px solid var(--link-color);
}
